body{
margin:0;
background:linear-gradient(160deg,#050010,#12002a);
font-family:Arial;
color:white;
text-align:center;
}

.top{
padding:20px;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
box-shadow:0 0 20px purple;
}

.logo{
width:90px;
border-radius:50%;
box-shadow:0 0 20px #b44cff;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:15px;
padding:15px;
}

.card{
background:rgba(255,255,255,0.05);
border-radius:18px;
padding:15px;
box-shadow:0 0 15px rgba(180,76,255,0.4);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.price{
font-size:22px;
color:#d18cff;
display:block;
margin:10px 0;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:12px;
background:linear-gradient(45deg,#a64cff,#ff4cff);
color:white;
font-size:16px;
}

footer{
padding:20px;
}

footer a{
color:#d18cff;
text-decoration:none;
}

.paybox,.formbox{
margin:40px 15px;
padding:25px;
background:rgba(255,255,255,0.05);
border-radius:20px;
box-shadow:0 0 20px purple;
}

.qr{
width:220px;
margin:20px 0;
}

input{
width:90%;
padding:12px;
margin:10px;
border-radius:10px;
border:none;
}